$color-1: #003F91; // Dark Cornflower Blue - Action color
$color-2: #279AF1; // Carolina Blue
$color-3: #B49594; // Tuscany
$color-4: #EFFFFA; // Mint Cream
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // Tuscany

// fonts
$primary-font: 'Helvetica', sans-serif;
$secondary-font: 'Open Sans', serif;
