@import "_breakpoints-zen-garden";
@import '_colors-zen-garden.scss';
@import "_fonts-zen-garden";
@import "_prefix-mixins";
@import "_reset";



body {
    /* this is the page background */
    background-color: $color-5;
    font-size: 16px;
  }
  section header h1 {
    color: $color-1;
    font-family: $primary-font;
    font-size: 32px;
  }





  @media screen and (min-width: $s) {

  }
  

section header h1 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
