@import "partials/breakpoints-zen-garden";
@import 'partials/colors-zen-garden';
@import "partials/fonts-zen-garden";
@import "partials/prefix-mixins";
@import "partials/reset";
@import "partials/variables";
@import "partials/layout";



body {
    /* this is the page background */
    background-color: $color-5;
    font-size: 16px;
  }
  section header h1 {
    color: $color-1;
    font-family: $primary-font;
    font-size: 40px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: fixed;
  left: 17%;
  top: 25%;
  font-size: 40px;
  height: 150%;
  }

  .page-wrapper {
    width: 40%;
    display: block;
    margin: auto;
    background-color: $color-2;
    padding: 25px;
  }


  @media screen and (min-width: $S) {

  }
